body{
    color: white;
    background-color: black;
    }

    section {
        background: rgb(184, 156, 213);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    div {
        margin-right: 20px;
    }

    .chama-texto {
        margin-right: 5%;
    }

    categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    .chamada {
        background: rgb(184, 156, 213);

    }