body{
    color: white;
    background-color: black;
    font-family: "Chakra Petch"sans-serif;
    }

    .chamada {
        background: rgb(184, 156, 213);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
       
    }

    .categoria {
        padding-left: 20px;
        padding-right: 20px;
    } 

    div {
        margin-right: 20px;
    }

    .chamada-texto {
        margin-right: 5%;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }

    img {
        height: 200px;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }